body {
 display: flex;
 justify-content: center;
}

#explanations {
  visibility: hidden;
}

#answers span {
  padding: 5px;
}

.button {
  transition-duration: 0.2s;
}

#nextQuestion {
  visibility: hidden;
  float: right;
  transition-duration: 0s;
}

#app {
  display: none;
  width: 800px;
  margin-top: 10px;
  padding: 30px;
}

#question {
  font-size: 130%;
  padding: 10px;
  white-space:pre-wrap;
}

.score {
  font-size: 120%;
}

.answer {
  display: flex;
  white-space:pre-wrap;
  padding: 8px;
  align-items: center;
  transition-duration: 0.6s;
}

.answer:hover {
  background-color: rgb(250, 250, 250);
  transition-duration: 0.6s;
}

.answer button {
  margin-right: 8px;
}

#start {
  display: inline-block;
  margin: 30px;
}

#finish {
  display: none;
  text-align: center;
  font-size: 130%;
}

#reset {
  margin: 7px;
}


