body {
 display: flex;
 justify-content: center;
}

#explanations {
  visibility: hidden;
}

#answers span {
  padding: 5px;
}

#nextQuestion {
  visibility: hidden;
  float: right;
}

#app {
  display: none;
  width: 600px;
  border-bottom: 0 none;
  margin-top: 10px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  padding: 15px;
}

#question {
  font-size: 130%;
  padding: 10px;
}

.score {
  font-size: 120%;
}

.answer {
  display: flex;
  align-items: center;

}

.answer * {
  padding: 7px;
}

#start {
  display: inline-block;
  margin: 30px;
}

#finish {
  display: none;
  text-align: center;
  font-size: 130%;
}

#reset {
  margin: 7px;
}